<!-- Add the following lines to your manifest file, inside the application tag: -->

        <!-- Notification Listener Service -->
        <service android:name=".NotificationService"
            android:label="SeeNotify"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service> 